.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  margin: 10vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: "galmuri";
  src: url(./fonts/Galmuri9.ttf);
}

@font-face {
  font-family: "galmuri-bold";
  src: url(./fonts/Galmuri11-Bold.ttf);
  font-weight: bold;
}

.Main {
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.ASDF {
  position: relative;
  width: 400px;
  height: 300px;

}


.TitleContainer {
  float: left;
  margin-left: 15%;
}

.Title {
  font-family: "galmuri";
  font-size: 3rem;
  text-align: left;
  color: #894021;
  position: relative;
}

.subTitle {
  font-family: "galmuri";
  font-size: 2rem;
  text-align: left;
  color: #894021;
  position: relative;
}

.CanvasBack {
  float: right;
  width: 200px;
  height: 60%;
  margin-top: -30vh;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}

.CanvasContainer {
  position: relative;
  width: 20%;
  height: 200%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.Canvas {
  position: absolute;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15%;


}